.btn {
    padding: 15px 35px 15px 35px;
    font-size: large;
    border-radius: 4px;
    font-weight: 700;
  }
  
  .btn-cta {
    color: #333;
    background-color: #Ffffff ;
  }
  
  .btn-cta:hover {
    background-color: #ff3b30;
    color: #Ffffff ;
  }