.team-text-section {
    width: 50%;
  }

  .content-section {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 70%;
      margin: 0 auto;
      line-height: 1.8;
      text-align: justify;
  }