.pf-wrapper {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.pf-index {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #303030;
  z-index: -1;
}

#pointer {
  position: absolute;
  top: 45px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
}

#pointer-child {
  position: absolute;
  top: 45px;
  left: -1px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #303030;
}

.pf-child {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #797979;
  z-index: -20;
  margin-left: 1px;
}

.inside {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

.inside-normal {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

i {
  font-size: 3rem !important;
  color: aliceblue;
  font-weight: 600;
}
