/* ---------- Google fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

/* ---------- CSS components ---------- */

@import url("components/prefooter.css");
@import "components/navbar.css";
@import "components/content.css";
@import "components/banner.css";
@import "components/button.css";
@import "components/dropdown.css";
@import "components/cards.css";
@import "components/newsletter.css";
@import "components/footer.css";

/* ---------- Generic Styles ---------- */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  font-size: large;
  color: rgb(0, 0, 0, .5);
  text-decoration: none;
  padding: 16px 16px 0 16px;
  transition: 0.4s ease-in-out;
}

h2 {
  font-size: 32px;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: '';
  background-color: #ff3b30;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 17%;
  transition: 300ms all ease-in-out;
}

.highlight:hover::after {
  width: 100%;
}

.highlight-red {
  display: inline-block;
  color: #ff3b30;
  border-radius: 3px;
  padding: 2px 15px 4px;
}


/* ---------- The End ---------- */