/* ---------- Google fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

/* ---------- CSS components ---------- */

@import url("components/prefooter.css");
@import "components/navbar.css";
@import "components/content.css";
@import "components/banner.css";
@import "components/button.css";
@import "components/dropdown.css";
@import "components/cards.css";
@import "components/newsletter.css";
@import "components/footer.css";

/* ---------- Generic Styles ---------- */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  font-size: large;
  color: rgb(0, 0, 0, .5);
  text-decoration: none;
  padding: 16px 16px 0 16px;
  transition: 0.4s ease-in-out;
}

h2 {
  font-size: 32px;
}


/* ---------- The End ---------- */